@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Monolegal S.A.S</h1>
    <p>consulte nuestros servicios <a href="https://www.monolegal.co/">Para nosostros es un placer servirlo</a>.</p>
</div>
